 <% include ./partials/header.ejs %>
 <table border="2px">
     <h3>Persons Data</h3>
        <tr>
            <th>FIrst Name</th><th >Last Name</th><th>Mobile</th><th>E-Mail</th>
        </tr>
        <% person.forEach(function(newPerson){ %>
            <tr>
               <td> <%= newPerson.fname %></td>
                <td>  <%= newPerson.lname %></td>
                    <td>  <%= newPerson.mobile %></td>
                        <td>  <%= newPerson.email %> </td>
            </tr>
        
         <%});%>
        
</td>
</table>
 
 <!-- <% for(let i=0;i<person.length;i++){%>
        <table border="5px">
            <tr>
                <th>FIrst Name</th><th >Last Name</th><th>Mobile</th><th>E-Mail</th>
            </tr>
            <tr>
                <td><%= person[i].fname  %></td>
                <td><%= person[i].lname %></td>
                <td><%= person[i].mobile  %></td>
                <td><%= person[i].email %></td>
            </tr>
</td>
</table>

<% }; %> -->



<form action="/add" method="POST">
    <input name="fname" placeholder ="enter firstName" >
    <input name="lname" placeholder ="enter lastName" >
    <input name="mobile" placeholder ="enter mobileNumber" >
    <input name="email" placeholder ="enter E-Mail" >
<button input type="submit">submit</button>
</form>



<table border="2px">
    <h3>Signup Users Data</h3>
        <tr>
            <th>FIrst Name</th><th >Last Name</th><th>Mobile</th><th>E-Mail</th>
        </tr>
        <% users.forEach(function(user){ %>
            <tr>
                        <td> <%= user.fname %></td>
                        <td>  <%= user.lname %></td>
                        <td>  <%=  user.mobile %></td>
                        <td>  <%= user.email %> </td>
                        <td>  <%= user.confirmEmail %> </td>  
                        <td>  <%= user.password %> </td>      
         <%});%>
        
</td>
</table>
<table border="2px">
    <h3>Login Data</h3>
            <tr>
                <th>E-mail</th><th >Password</th>
            </tr>
            <% users.forEach(function(user){ %>
                <tr>
                    <td>  <%= user.email %> </td>
                    <td>  <%= user.password %> </td>      
            <%});%>



<% include ./partials/footer.ejs %>
